body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links ,.f-info-socials{
    width: 100%;
}
.f-info-socials{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem; 
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:0;

}
.card-text p{
    font-weight: 400 !important;
}
.anchor{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}

#add-btn{
    background-color: #fe424d;
    border: none !important;
}
#edit-btn{
    background-color: #fe424d;
    border: none !important;
}
.show-img{
    height: 30vh;
    
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
#ram{
    width: 75px;
    height: 36px;
    margin: 22.225px 0px  0px 0px;
    /* color: #fe424d; */
    background-color: #fe424d;
    border: none;
    display: grid;
    margin-left: 340px;
    
}
#imagesize{
    
    width: 250px;
    
    
}
#map { 

    height: 400px;
    width: 800px;
}