<%- layout("layouts/boilerplate.ejs") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br><br>
            <h1>Add New Listing</h1>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="Listing[title]" type="text" placeholder="Enter Short Title" class="form-control" required>
                    <div class="valid-feedback"><b>Awesome Title!</b></div>
                    <div class="invalid-feedback"><b>Provide a valid title</b></div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="Listing[description]" placeholder="Description about location..." class="form-control" required></textarea>
                    <div class="invalid-feedback"><b>Provide a valid description</b></div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">UPLOAD IMAGE</label>
                    <input name="Listing[image]" type="file" placeholder="Image URL" class="form-control" >
                    required
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="Listing[price]" type="number" placeholder="12000" class="form-control" required>
                        <div class="invalid-feedback"><b>Provide a valid price</b></div>
                    </div>

                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="Listing[country]" type="text" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback"><b>Provide a valid country</b></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="Listing[location]" type="text" placeholder="Azamgarh, Uttar Pradesh" class="form-control" required>
                    <div class="invalid-feedback"><b>Provide a valid location</b></div>
                </div> 

                <button class="btn btn-dark mt-3" id="add-btn">Add</button>
            </form>   
        </div>
    </div>
</body>
